@import url('http://fonts.googleapos.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #6f36ff;

}
.wrapper {
    background: #fff;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1.4);
}

.wrapper header {
    font-size: 23px;
    font-weight: 500;
    color: #6f36ff;
    padding: 17px 30px;
    border-bottom: 1px solid #bfbfbf

}

.wrapper header.active {
    cursor: move;
    user-select: none;
}

.wrapper .content {
    margin: 30px 30px 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .icon {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 5px solid #6f36ff;
    align-items: center;
    display: flex;
    justify-content: center;

}

.content .icon i {
    font-size: 60px;
    color: #6f36ff;
}
.content .tittle {
    font-size: 29px;
    font-weight: 500;
    margin: 15px 0;
}

.content p {
    font-size: 16px; 
    text-align: center;

}

footer {
    position: absolute;
    bottom: 0;
    background-color: #bfbfbf;
    text-align: center;
    width: 100%;
    padding: 1em;
    
    
}


