@import url('http://fonts.googleapos.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #6f36ff;

}
.wrapper {
    background: #fff;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform translate (-50%, -50%);
}

.wrapper header {
    font-size: 23px;
    font-weight: 500;
    color: #6f36ff;
    padding: 17px 30px;
    border-bottom: 1px solid #bfbfbf

}

